* {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: #c6f1f8;
}

a {
    color: royalblue;
}

b {
    font-weight: 700;
}

/* a {
    position: relative;
    display: inline-block;
    font-size: 2em;
    color: royalblue;
    font-weight: 800;
    text-decoration: underline;
    overflow: hidden;
} */

button {
    background-color: transparent;
    border: none;
}

button a {
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 500;
}

#wrapper {
    flex: 1;
    margin: 0 2em 2em 2em;
}

nav {
    display: flex;
    
    font-size: 2em;
}

nav a {
    color: rgba(4, 50, 85, 0.964);
    text-decoration: none;
}

#logo {
    margin-right: 5px;
    
    /*background: #c4af44;
    /*align-self: center;
    height: .25vh;
    width: .5vw;
    padding: 10px;
    padding: 10px;
    border-radius: 20px; */
}

#logo a {    
    color: black;
    font-family: "DM Serif Text", serif;
    font-size: 1em;
}

#search {
    margin-left: auto;
}

#search a {
    color: black;
    font-size: 1em;
    font-weight: 700;
}

#banner-text {
    font-family: "DM Serif Text", serif;
    font-style: normal;
    font-weight: 400;
}

#banner-description {
    font-size: 1.5em;
    font-weight: 500;
}

#hero-banner {
    display: flex;
    justify-content: center;
    
    width: 100%;
}

#hero-banner #banner-text {
    font-size: 3em;
}

/* #background {
    background: #C2DFE3;
    align-self: center;
    height: 1.5vh;
    width: 1.5vw;
    padding: 10px;
    padding: 10px;
    border-radius: 20px; 
} */

.total {
    padding: 1em
}

.form-name {
    font-size: 2em;
    font-weight: 700;
}

#search-container {
    display: flex;
    flex-direction: column;

    padding: 1em;
}

.faq-container {
    padding: 1em;
    display: block;
    border: none;
    background: rgb(105, 115, 120);
    background: #9eddff;
    border-radius: 15px;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    padding-left: 8px;
}

.dropdown-btn {
    padding: 6px 8px 6px 6px;
    text-decoration: none;
    font-size: 20px;
    color: #111111;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }

 .dropdown-btn:hover {
    color: #2c2c2c;
    background-color: #54bdf6; 
 }

.dropdown-container {
    display: none;
    background: #60d8f3;
    padding-left: 16px;
    border-radius: 5px;
}

.fa-sort-desc {
    float: right;
    padding-right: 8px;
}
/*footer*/
.panel {
    justify-content: center;
    background-color: #23251f;
    padding-left: 20px;
    align-self: center;
    left: 10;
    bottom: 0;
    width: 100%;
}

#footer-text {
    color: white;
}

/*weights*/
.ns-400 {
    font-family: "Noto Sans", sans-serif; 
    font-weight: 400;
}

.ns-500 {
    font-family: "Noto Sans", sans-serif; 
    font-weight: 500;
}

.ns-600 {
    font-family: "Noto Sans", sans-serif; 
    font-weight: 600;
}

.ns-700 {
    font-family: "Noto Sans", sans-serif; 
    font-weight: 700;
}

.ns-800 {
    font-family: "Noto Sans", sans-serif; 
    font-weight: 800;
}

.ns-900 {
    font-family: "Noto Sans", sans-serif; 
    font-weight: 900;
}

.dm-400 { 
    font-family: "DM Serif Text"
}