{% extends "layout.html" %}

{% block title %}
    LegalLingo
{% endblock %}
<!--HOMEPAGE, starts under div wrapper-->
{% block main %}
<div id="hero-banner">
    <div class="left">
        <h2 id="banner-text">{{ catchphrase }}</h2>
        <h4 id="banner-description">{{ description }}</h4>
    </div>
</div>
<hr>
<section class="faq-container">
    <div class="faq-container">
        <h1 id="faq-container">FAQ: </h1>
        {% for question, answer in FAQ.items() %}
            <button class="dropdown-btn">{{ question }}
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <h4>{{ answer }}</h4>
            </div>
        {% endfor %}
        <script>
            var dropdown = document.getElementsByClassName("dropdown-btn");
            var i;

            for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
                } else {
                dropdownContent.style.display = "block";
                }
            });
            }
        </script>
    </div>
</section>
    
{% endblock %}

